<h1>Conversations:</h1>

<ol class="mt-5 list-unstyled">
    <li><%= @question %></li>
    <li><i><%= "- You" %></i></li>
</ol>

<ol class="list-unstyled">
    <li><%= @answer %></li>
    <li><i><%= "- Coach" %></i></li>
</ol>

<%= link_to "Ask another question", ask_path, class: "text-decoration-none" %>